#body-change {
    background-color: black;
}

header, div, form {
    margin: 10px; 
}

img {
    width: 300px;
    height: 300px;
}

#gif-view {
    display: flex;
    flex-flow: column
}

.gifs{
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: white
}